<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <div class="menu">
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <% if (loggedInUser && loggedInUser.name) { %>
        <div class="menu-item" onclick="logOut()" ><a href="/">Logout</a></div>
    <% } else { %>
        <div class="menu-item"><a href="/">Login</a></div>
    <% } %>
<script>
  // Toast message for log out ;
  const logoutToast = Toastify({
    text: "You are being logged out...",
    duration: 1000
  });

  // For logout
  function logOut() {
    if (confirm("Really want to log out?")) {
      fetch("/", {
        method: "DELETE",
      })
      .then((response) => {
        if (response.ok) {
          logoutToast.showToast();  
        } else {
          console.log("Logout failed. Status code:", response.status);
        }
      })
      .catch((error) => {
        console.error("An error occurred during logout:", error);
      });
    } else {
      console.log("Logout canceled by the user.");
    }
  }

</script>
</div>
